@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0e2345;
  --secondary-color: #25bece;
  --tertiary-color: #d5f7f7;
  --text-gradient: linear-gradient(
    225deg,
    var(--tertiary-color),
    var(--secondary-color)
  );
  --background-gradient: linear-gradient(180deg, var(--primary-color), #040e1e);
}

@font-face {
  font-family: Gotham;
  src: url(/Gotham-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Gotham;
  src: url(/Gotham-Book.otf);
  font-weight: 600;
}

@font-face {
  font-family: Gotham;
  src: url(/Gotham-Medium.otf);
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gotham, sans-serif;
}

html {
  background: var(--primary-color);
}

body {
  background: var(--background-gradient);
  color: var(--tertiary-color);
}

h2 {
  font-family: Gotham;
  @apply font-bold;
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  @apply text-5xl;
  @apply font-bold;
}

p {
  @apply font-semibold;
}
